* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box；
}

body {
    background-color: #00334b;
    color: white;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.fr {
    float: right;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.content,
.addTaskSubmit {
    padding: 10px 0;
    border-radius: 3px;
    border: none;
}

.add-task .content {
    width: 84%;
    margin-right: 1%;
    float: left;
}

.add-task .addTaskSubmit {
    width: 15%;
    background-color: #0E98DA;
    cursor: pointer;
}

.add-task .addTaskSubmit:hover {
    background-color: springgreen;
}

.task-list {
    width: 100%;
    margin-top: 15px;
}

.task-list .task-item {
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    color: black;
    margin-bottom: 3px;
}

.task-list .task-item:hover {
    background-color: #eee;
}

.item-content {
    margin-left: 15px;
}

.fr .action {
    font-size: 14px;
    color: #888;
}

.fr .detail {
    cursor: pointer;
}

.fr .delete {
    cursor: pointer;
}

.detail:hover {
    color: black;
}

.delete:hover {
    color: black;
}

.task-detail {
    display: none;
    width: 300px;
    height: 340px;
    position: fixed;
    background-color: #524141;
    padding: 15px;
    top: 100px;
    right: calc(50vw - 150px);
    border-radius: 3px;
    color: white;
}

.detail-content, .datetime{
    background-color: #ddd;
    width: 100%;
    max-height: 100px;
    margin-bottom: 15px;
}

.desc{
	background-color: #ddd;
	width: 100%;
	height: 100px;
	border: 0;
}